:root {
    font-family: "Open Sans";
    font-size: 16px;
}

.Menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5rem;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    z-index: 1000;
}

.NavBarItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    place-items: center;
}

.NavItem:last-child {
    margin-left: auto;
}

.Logo {
    margin: 10px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    display: flex;
}

.Logo span {
    margin: auto;
}

.Logo p {
    margin: auto;
}

.Menu_B {
    margin: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    display: flex;
}

.Menu_B span {
    margin: auto;
}

.Menu_B p {
    display: none;
}

.Profile {
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.Profile span {
    border-radius: 50%;
    font-size: 50px;
    background-color: transparent;
}

.Profile:active~.UserInfo {
    display: flex;
}

.UserInfo {
    position: fixed;
    top: 5.5rem;
    right: 1rem;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    transform: translateX(200%);
}

.UserInfo>* {
    margin: 5px;
    width: 150px;
    text-decoration: none;
    display: flex;
    padding: 5px;
}

.UserInfo>* p {
    margin: auto;
}

.UserInfo>* span {
    margin: auto;
}

.logout {
    background-color: rgb(217, 81, 81);
}

.logout>* {
    background-color: rgb(217, 81, 81);
    color: white;
}

.SideMenu {
    transition: all 100ms linear;
    position: fixed;
    left: 0;
    top: 5rem;
    bottom: 0;
    width: 10rem;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    transform: translateX(-100%);
    z-index: 999;
}

.Dark_BTN {
    margin-top: 10px;
    width: 80%;
    text-decoration: none;
    display: flex;
    padding: 10px;
}

.Dark_BTN p {
    margin: auto;
}

.Dark_BTN span {
    margin: auto;
}